@import url(https://db.onlinewebfonts.com/c/f82a45d96a5a30abb6417c5b81fc416d?family=Graphik+LC+Web+Semibold+Regular);

body {
  margin: 0;
  padding: 0;
  font-family: "Graphik LC Web Semibold Regular", sans-serif;
  color: #9ab;
  background-color: #14181c;
}

footer {
  background-color: #25272a;
  padding: 20px 0;
}

.footer-content {
  text-align: center;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin-right: 20px;
}

.footer-content ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.about-page {
  padding: 50px 20px;
  text-align: center;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
}

.about-content p {
  color: #fff;
  line-height: 1.6;
}

.about-content ul {
  text-align: left;
}

.about-content ul li {
  margin-bottom: 10px;
}
