@import url(https://db.onlinewebfonts.com/c/f82a45d96a5a30abb6417c5b81fc416d?family=Graphik+LC+Web+Semibold+Regular);

body {
  font-family: "Graphik LC Web Semibold Regular", sans-serif;
  font-size: 14px;
  background-color: #14181c;
  margin: 0;
  min-height: 100vh;
}

.errormsg {
  color: #ff0033;
  font-size: 14px;
  margin-top: 5px;
}

header {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

.review-form h1 {
  color: #fff;
  font-size: 16px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin: 2em;
  padding: 20px;
}

#cover {
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  border: 2px solid black;
}

.review-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 40%;
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.review-form label {
  color: burlywood;
  font-size: 16px;
  font-style: italic;
  margin: 10px 0;
  font-weight: bold;
}

.main a {
  color: green;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1em;
}

.main a:hover {
  color: rgb(122, 55, 122);
  text-decoration: underline;
}

.review-form input[type="number"],
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  background-color: #25272a;
  color: antiquewhite;
  box-shadow: 5px 5px 5px 5px black;
  transition: border-color 0.8s ease;
  outline: none;
  font-family: "Graphik LC Web Semibold Regular", sans-serif;
}

.review-form input[type="number"]:focus,
.review-form textarea:focus {
  border-color: green;
}

input[type="submit"] {
  background-color: rgb(122, 55, 122);
  width: 150px;
  color: antiquewhite;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

input[type="submit"]:hover {
  background-color: green;
}

@media screen and (max-width: 550px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  #cover {
    max-width: 70%;
  }
  .review-form {
    max-width: 50%;
    margin-top: 20px;
  }

  input[type="submit"] {
    width: 70%;
    margin-top: 20px;
  }
}

footer {
  background-color: #2c3440;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.footer-section p,
.footer-section a {
  font-weight: 1000;
  font-size: 14px;
  margin-top: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section h3 {
  color: #14181d;
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 10px;
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.nascosto {
  display: none;
}
