@import url(https://db.onlinewebfonts.com/c/f82a45d96a5a30abb6417c5b81fc416d?family=Graphik+LC+Web+Semibold+Regular);

body {
  font-family: "Graphik LC Web Semibold Regular", sans-serif;
  font-size: 14px;
  background-color: #14181c;
  margin: 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 5em;
}

p {
  font-size: 16px;
  color: white;
  padding: 10px;
}

#settings {
  cursor: pointer;
  color: green;
}

#settings:hover {
  text-decoration: underline;
  color: purple;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 2px solid #202830;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #202830;
  background-color: black;
  padding: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #202830;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #202830;
  background-color: black;
}

#main-avatar {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
}

#main-username {
  font-size: 24px;
  color: antiquewhite;
}

#settings-div {
  display: flex;
  margin: 1em;
  padding: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.settings-form h1 {
  border-bottom: 1px solid #456;
}

.profile-content {
  display: grid;
  margin: 0 5em;
}

#favourite-movies,
#favourite-games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  width: 100%;
  gap: 1em;
  padding-top: 0.5%;
  border-top: 1px solid #456;
}

#favourite-movies a,
#favourite-games a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#favourite-movies img,
#favourite-games img {
  height: 100%;
  width: 150px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  border: 3px solid #202830;
  transition: border-color 0.8s ease;
}

#favourite-movies img:hover,
#favourite-games img:hover {
  border-color: rgb(2, 186, 2);
}

@media screen and (max-width: 1090px) {
  #favourite-movies,
  #favourite-games {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 650px) {
  #favourite-movies,
  #favourite-games {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
  }
}

.section-header {
  font-size: 16px;
  color: whitesmoke;
  font-weight: 400;
  margin-top: 50px;
}

#your-reviews,
#favourite-reviews {
  display: grid;
  grid-gap: 1em;
  padding-top: 0.5%;
  border-top: 1px solid #456;
}

.review-container {
  display: flex;
  gap: 1em;
  border: 3px solid #1c1c1c;
  box-shadow: 5px 5px 5px 5px black;
  transition: border-color 1s ease;
  background-color: #2c3440;
  height: max-content;
  position: relative;
}

.options-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: absolute;
  right: 5px;
  top: auto;
}

@media screen and (max-width: 680px) {
  .review-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .options-block {
    position: relative;
    justify-content: space-between;
    height: fit-content;
    gap: 1em;
    margin-bottom: 20px;
  }
}

.delete-button,
.edit-button {
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.delete-button {
  background-color: #db0b0b;
  box-shadow: 5px 5px 0px red;
}

.edit-button {
  background-color: rgb(168, 38, 255);
  box-shadow: 5px 5px 0px rgb(140, 32, 212);
}

.delete-button:hover,
.edit-button:hover {
  color: black;
}

.heart {
  position: absolute;
  border: none;
  right: 5px;
  top: auto;
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 2;
}

.poster {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  border: 3px solid #202830;
  transition: border-color 0.8s ease;
  margin: 1em;
}

.poster:hover {
  border-color: rgb(122, 55, 122);
}

.review-container:hover {
  border-color: green;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
}

.review div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: fit-content;
  margin: 0.3em;
}

.review div h2 {
  font-size: 16px;
  font-weight: bold;
  color: antiquewhite;
}

.text {
  color: black;
  line-height: 1.2;
  font-size: 16px;
  margin: 0.3em;
}

.rating {
  color: green;
  font-size: 16px;
}

.likes {
  font-size: 16px;
  color: green;
  margin: 0.3em;
}

.avatar {
  border: 2px solid black;
  border-radius: 50%;
  max-width: 50px;
  height: auto;
  max-height: 45px;
  transition: border-color 1s ease;
}

.avatar:hover {
  border-color: rgb(122, 55, 122);
}

@media screen and (max-width: 600px) {
  .profile-container {
    margin: 1em;
  }
  .profile-content {
    margin: 1em;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em 0;
  padding: 8px 40px 8px 8px;
  color: #333;
  width: fit-content;
  box-sizing: border-box;
}

input[type="file"] {
  display: none;
}

label[for="avatar"] {
  background-color: #2b2b2b;
  width: fit-content;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

label[for="avatar"]:hover {
  background-color: green;
}

.errormsg {
  color: #ff0033;
  font-size: 14px;
  margin: 10px 0;
}

#updateResponse {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 1em;
}

.mainerror {
  color: #ff0033;
  font-size: 20px;
}

.updatemsg {
  color: green;
  font-size: 20px;
}

.password-container {
  position: relative;
  width: fit-content;
}

.show-password {
  position: absolute;
  top: 25%;
  right: 1%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.submit {
  max-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #6a0dad;
  color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1em 0;
}

footer {
  background-color: #2c3440;
  color: #fff;
  padding: 20px 0;
  margin-top: 5em;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-section p,
.footer-section a {
  font-weight: 1000;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section h3 {
  color: #14181d;
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 10px;
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.nascosto {
  display: none;
}
